---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';

import { headerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header
      {...headerData}
      actions={[
        {
          text: '',
          href: 'https://github.com/DemianMArin',
          target: '_blank',
          icon: 'tabler:brand-github',
          //variant: 'secondary',
          variant: 'four',
        },
        {
          text: '',
          href: 'https://www.linkedin.com/in/demian-marin-a5b6a8278',
          target: '_blank',
          icon: 'tabler:brand-linkedin',
          //variant: 'secondary',
          variant: 'four',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </slot>
  <main>
    <slot />
  </main>
</Layout>
